@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
:root {
  /* COLORS */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-dark-gray: hsl(0, 0%, 63%);
  --clr-darker-gray: hsl(0, 0%, 27%);

  /* FONTS  */
  --font-family: 'League Spartan', sans-serif;
  --semi-bold: 500;
  --bold: 600;
  --extra-bold: 700;
  --h1-size: 48px;
  --h1-spacing: -2px;
  --h2-size: 16px;
  --h2-spacing: 6.67px;
  --h2-line: 22px;
  --p-size: 16px;
  --p-line: 22px;
  --shop-now-spacing: 12.5px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: var(--font-family);
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

body {
  background-color: white;
  max-width: 1440px;
  margin: auto;
}

h1 {
  font-size: var(--h1-size);
  color: var(--clr-black);
  font-weight: var(--extra-bold);
  max-width: 400px;
  letter-spacing: var(--h1-spacing);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: var(--h2-size);
  color: var(--clr-black);
  font-weight: var(--extra-bold);
  line-height: var(--h2-line);
  letter-spacing: var(--h2-spacing);
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

p {
  color: var(--clr-dark-gray);
  font-size: var(--p-size);
  line-height: var(--p-line);
  font-weight: var(--semi-bold);
}

.filter {
  position: absolute;
  z-index: 5;
  inset: 0;
  background-color: var(--clr-black);
  opacity: 0.6;
  display: none;
}
.burger,
.close {
  display: none;
  cursor: pointer;
}

header {
  position: relative;
}

/* HEADER */
.header-positionner {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 10;
}

.navbar {
  display: flex;
  margin-left: 3rem;
}

.navbar a {
  color: var(--clr-white);
  font-weight: var(--semi-bold);
  font-size: var(--p-size);
  padding: 0.3rem 1rem;
  position: relative;
}

.navbar a::after {
  content: '';
  width: 16px;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: var(--clr-white);
}

.navbar a:hover::after {
  opacity: 1;
}

/* MAIN SLIDER */
.slider {
  display: flex;
  align-items: center;
}

.slider-text {
  padding: 0 5.5rem;
  min-height: 534px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.slider-link {
  font-size: var(--p-size);
  color: var(--clr-black);
  font-weight: var(--bold);
  letter-spacing: var(--shop-now-spacing);
  text-transform: uppercase;
  display: flex;
  align-items: baseline;
  margin-top: 1.5rem;
  transition: opacity 0.3s ease-in-out;
}

.slider-link:hover {
  opacity: 0.6;
}

.slider-link img {
  margin-left: 1.2rem;
}

.slider-btns {
  background-color: var(--clr-black);
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}

#previous {
  background-image: url('./images/icon-angle-left.svg');
}

#next {
  background-image: url('./images/icon-angle-right.svg');
}

.btn:hover {
  background-color: var(--clr-darker-gray);
}

/* MAIN ABOUT */
.about {
  display: flex;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2.3rem;
}

@media screen and (max-width: 1335px) {
  .slider-text {
    padding: 4rem 0.5rem 0 1rem;
    justify-content: flex-start;
  }
  .about-text {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 1180px) {
  .slider-text {
    padding: 4rem 0.5rem 0 1rem;
    justify-content: flex-start;
  }
  .about-text {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .header-positionner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
  }

  .header-active {
    background-color: var(--clr-white);
  }

  .logo {
    margin: auto;
  }
  .burger {
    display: block;
    margin-left: 1rem;
    cursor: pointer;
  }
  .close {
    margin-left: 1rem;
    margin-right: 2rem;
    cursor: pointer;
  }
  .navbar {
    margin: 0 auto 0;
    width: 100%;
    display: none;
  }
  .navbar a {
    color: var(--clr-black);
    padding: 0 1rem;
  }
  .slider {
    flex-direction: column;
  }
  .slider img {
    width: 100%;
    object-fit: cover;
  }
  #slider-img {
    min-height: 40vh;
  }
  h1 {
    font-size: 40px;
    margin: 4rem auto 0 auto;
  }
  .slider-text {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    min-height: 400px;
  }
  .slider-text p {
    max-width: 500px;
    margin: 2rem auto 0 auto;
  }
  .slider-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 90%;
  }
  .slider-link img {
    margin-left: 0.5rem;
    max-width: 50px;
  }
  .slider-btns {
    bottom: unset;
    top: -80px;
    right: 0;
    left: unset;
  }
  .about {
    flex-direction: column;
  }
  .about-text {
    min-height: 400px;
    text-align: center;
  }
  .about-text p {
    width: 90%;
    margin: 0 auto;
  }
}
